<h1>Create a event</h1>
{{!-- 'action' receive the route created, not a file or anything else --}}
<form action="/event-create" method="post">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required/>

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="30" rows="10" required></textarea>

    <label for="price">Price</label>
    <input type="text" name="title" id="title" required/>

    <label for="start">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="appt">Hour:</label>
    <input type="time" id="time" name="time" required>

    <label for='image'>
        Upload your image:
        <input type='file' name='image' class='form-control-file' required/>
      </label>

    <button type="submit">Add the Event</button>
</form>