<div id="create-event">

  {{!-- <a href="/"><img src="/images/logo.png" alt="" class="create-img"></a> --}}



  <h1 class="create-event_h1">Create an Event</h1>
  {{!-- 'action' receive the route created, not a file or anything else --}}

  <form class="create_title" action="/event-create" method="post" enctype="multipart/form-data">
    <label for="title">Title</label>
    <input type="text" name="title" id="title" required />

    <label for="description">Description</label>
    <textarea name="description" id="description" cols="50" rows="15" required></textarea>

    <div class="category">
      <label for="category">Chose a Category</label>
      <select name="category" id="category" required>
        <option>Outdoor Events</option>
        <option>Party and Music</option>
        <option>Speeches and Networking</option>
        <option>Cultural Events</option>
      </select>
    </div>

    <label for="price">Price</label>
    <input type="text" name="price" id="price" required />

    <label for="start">Date:</label>
    <input type="date" id="date" name="date" required>

    <label for="appt">Hour:</label>
    <input type="time" id="hour" name="hour" required>

    <label for="appt">City:</label>
    <input type="text" id="city" name="city" required>

    <label for='image'>
      Upload your image:
      <input type='file' name='imageUrl' class='form-control-file' />
    </label>

    <button type="submit">Add Event</button>
  </form>

</div>