<div id="login-form">
  <h2>Log In</h2>
  <form action="/auth/login" method="POST">

    {{!-- <label> Username
      <input type="text" name="username" placeholder="Your username" />
    </label> --}}

    <label> Email
      <input type="email" name="email" placeholder="Your email" />
    </label>

    <label> Password
      <input type="password" name="password" placeholder="Your password" />
    </label>

    <button type="submit">Log In</button>

    {{!-- <p>New around here?</p>
    <form action="/auth/signup" method="post">
    <button type="submit">Sign Up</button>
    </form> --}}


    {{#if errorMessage}}
      <p class="error">{{errorMessage}}</p>
    {{/if}}
  </form>
</div>