<div class="error-container">
    <h1>404 ERROR</h1>

    <img src="/images/404.png" alt="">

    <h1>OMG!!! CALL EMERGENCY!!!</h1>
    <h2>There was an error on the server! Check the console!</h2>
</div>