<section id="index">
 
  <div class="index_header">
    <img src="/images/logo.png" alt="wannago logo" class="index_logo">
    <button type="submit" class="logout"><a href="/auth/logout">Logout</a></button>
  </div>

  <form class="searchform" action="/search" method="get">
    <input type="text" placeholder="Search" name="title" class="search">
    <button type="submit" class="btn btn-success"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
        fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
        <path
          d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
      </svg></button>
    {{!-- <button type="submit"> <i class="fa fa-search"></i> </button> --}}
  </form>

  {{!--
  <h2 class="index_h2">FEATURED EVENTS</h2>

  <div class="event_container2">
    {{#each twoEvents}}
    <div class="events-index_each">
      <a href='/event-details/{{_id}}'><img src="{{imageUrl}}"></a>
    </div>
    {{/each}}
  </div> --}}

  <div class="container">
    <h2 class="index_h2">SELECT:</h2>

    <div class="dropdown_flex">

      <div class="dropdown">
        <button class="dropbtn_city">City</button>
        <div class="dropdown-content">
          <form class="searchform" action="/search-city" method="get">
            <input type="text" placeholder="Where?" name="city" id="index_city">
              <button type="submit" class="btn btn-success">
                  <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                  </svg>
              </button>
          </form>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn_date">Date</button>
        <div class="dropdown-content">
          <label for="start">Start date:</label>
          <input type="date" id="startdate" name="date" required>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn_category">Category</button>
        <div class="dropdown-content">
          <a href="/search-category/outdoor">Outdoor Events</a>
          <a href="/search-category/party">Party and Music</a>
          <a href="/search-category/speech">Speeches and Networking</a>
          <a href="/search-category/cultural">Cultural Events</a>
        </div>
      </div>

    </div>
  </div>


  <h2 class="index_h2">ALL EVENTS</h2>
  <div class="event_container2">
    {{#each events}}
    <div class="events-index_each">
      <a href='/event-details/{{_id}}'><img src="{{imageUrl}}"></a>
    </div>
    {{/each}}
  </div>
</section>