<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css" />
  <link rel="stylesheet" href="/stylesheets/style.css" />

  <title>{{appTitle}}</title>
</head>

<body>


<section id="start">

  <div>
    <div class="wel-logo">
      <h3 class="start_welcome">Welcome to</h3>
      <img src="/images/logo-branco.png" alt="" class="start_logo">
    </div>
    <div id="start_img_btn">
      <img src="/images/start.png" alt="" class="start_img">
      <p class="start_p">Find events and make new friends in a new city.</p>

      <div class="startbutton">
        <button class="startbuttonlogin"><a href="/auth/login" class="start_login-btn">Login</a></button>
        <button class="startbuttonsignup"><a href="/auth/signup" class="start_signup-btn">Sign up</a></button>
      </div>

    </div>

    {{!-- <div id="login-form">
      <h2>Log In</h2>
      <form action="/startauth/login" method="POST">

        <label> Username
          <input type="text" name="username" placeholder="Your username" />
        </label>

        <label> Email
          <input type="email" name="email" placeholder="Your email" />
        </label>

        <label> Password
          <input type="password" name="password" placeholder="Your password" />
        </label>

        <button type="submit">Log In</button>

        <p>New around here?</p>
        <form action="/auth/signup" method="post">
          <button type="submit">Sign Up</button>
        </form>
        --}}

        {{#if errorMessage}}
        <p class="error">{{errorMessage}}</p>
        {{/if}}
        {{!--
      </form>
    </div> --}}

</section>