@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Roboto:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  font-size: 10px;

}

body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  position: sticky;
  background-color: #F0F2F5;
}

/*START*/

.start-section {
  background-color: #A01FCC;
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  margin: auto;
  position: relative;
  color: white;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #A01FCC;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  max-height: 100%;
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.intro-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: 50rem;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.intro-container .start-image {
  width: 30rem;
  margin: auto;
  max-width: 100%;
  height: auto;
}

.typewriter h1 {
  font-family: Josefin Sans;
  font-size: 6rem;
  padding: 2rem 0;
  max-width: 100%;
  color: #fff;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 1.5s steps(60, end)
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.intro-container h3 {
  font-size: 2rem;
}

.intro-container p {
  font-size: 2.2rem;
  padding: 4rem;
  font-weight: bold;
}

.button-container {
  display: flex;
  wrap: nowrap;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
  width: 30rem;
  margin: 0 auto;
}

.login-btn,
.signup-btn {
  background-color: #C3D43C;
  border: 2px solid #C3D43C;
  border-radius: 0.5em;
  padding: 0.8em;
  margin: 0 1.5rem;
  width: 15rem;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s ease background;
}

a .login-btn,
a .signup-btn {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}

.login-btn:hover,
.signup-btn:hover {
  background-color: #fff;
  color: #C3D43C;
  border-style: none;
  border: 2px solid #C3D43C;
  border-radius: 0.5em;
  transition: 0.3s ease background;
}

.login-btn a:hover,
.signup-btn a:hover {
  color: #C3D43C;
}

/*LOGIN PAGE*/

.login-section {
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  margin: auto;
  position: relative;
}

.form-container {
  background-color: rgba(160, 31, 204, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  text-align: center;
  height: 80%;
  max-height: 100%;
  border-radius: 1rem;
}

.form-container h3 {
  color: #423839;
  font-size: 2.5rem;
  margin: 0 auto;
  padding: 1rem 0;
}

.typewriter-form h1 {
  font-family: Josefin Sans;
  font-size: 5rem;
  padding: 1rem 0;
  max-width: 100%;
  color: #A01FCC;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: .15em;
  animation: typing 0.9s steps(60, end)
}

@keyframes typing {
  from {
    width: 0
  }

  to {
    width: 100%
  }
}

.login-form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 65%;
}

form {
  text-align: center;
  width: 70vw;
  margin: 0 auto;
}

form label {
  color: black;
  display: inline-block;
  text-align: left;
  line-height: 5rem;
  font-size: 1.5rem;
  font-weight: bolder;
  width: 80%;
}

form input,
form button {
  box-sizing: border-box;
  font-size: 1.4rem;
  outline: 0;
  padding: 1rem;
  width: 80%;
  height: 4.5rem;
  margin-bottom: 2rem;
  border-radius: 0.8rem;
  border: none;
}

form button {
  background: #C3D43C;
  border: 1px solid #C3D43C;
  border-radius: 0.8rem;
  color: #000;
  cursor: pointer;
  display: inline-block;
  font-size: 1.4rem;
  font-weight: bolder;
  padding: 0.8rem 1.6rem;
  margin: 2rem auto;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s ease background;
  width: 25vw;
}

form button:hover {
  background: #fff;
  color: #C3D43C;
  transition: 0.3s ease background;
}

input::placeholder {
  opacity: 0;
}

/* input:focus,
input:not(:placeholder-shown) {
  &+.custom-label {
    left: 16px;
    transform: translateY(-25px);
    font-size: 10px;
    line-height: 14px;
    background-color: #000;
    border-radius: 12px;
    padding: 0 4px;
  }
} */

/*SIGNUP PAGE*/

.signup-section {
  background-color: #efefef;
  height: 100vh;
  width: 100vw;
  max-height: 100%;
  margin: auto;
  position: relative;
}

.signup-section>.form-container {
  height: 95%;
}

.signup-section>.form-container>.typewriter-form h1 {
  margin-top: 2rem;
}

.signup-form {
  width: 40vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  height: 80%;
}

/* LAYOUT ELEMENTS */

.nav-elements-container {
  background-color: #f0f3f6;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.nav-elements-container img {
  width: 55%;
  max-width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.navbar-links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.navbar-links a {
  font-size: 2rem;
  color: #A01FCC;
  text-decoration: none;
  transition: transform .3s;
}

.navbar-links a:hover {
  transform: scale(1.1);
  color: #C3D43C;
}

.i-header-mobile {
  background-color: #f0f3f6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem;
}

.i-header-mobile img {
  width: 20%;
}

@media screen and (min-width:450px) {

  .navbar-desktop {
    display: none;
    padding: 10px;
  }

  .navbar-mobile {
    display: block;
  }

  .footer-mobile {
    display: block;
  }

}

@media screen and (min-width:769px) {

  .navbar-desktop {
    display: block;
  }

  .navbar-mobile {
    display: none;
  }

  .footer-mobile {
    display: none;
  }

}

/*LOGOUT BUTTON*/

.logout {
  background-color: #A01FCC;
  border-radius: 0.8rem;
  padding: 0.7rem 3rem;
  font-size: 1.6rem;
  border: none;
  cursor: pointer;
}

.logout a {
  color: white;
  font-size: 1em;
  text-decoration: none;
}

.logout:hover {
  background-color: #CB236D;
}

/*INDEX*/

#index-section {
  background-color: #f0f3f6;
  padding-bottom: 8rem;
}

.index_h2 {
  font-size: 1.5rem;
  margin-left: 1.1rem;
  margin-bottom: 0.5rem;
  color: #423839;
  font-family: Arial, Helvetica, sans-serif
}

#videoPlayer {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  border: none;
  outline: none;
  color: transparent;
}

.searchform-container {
  padding-top: 5rem;
}

.searchform {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 1.3rem;
  position: relative;
  align-items: center;
}

#index form i {
  margin-left: -100px;
  margin-top: 15px;
  cursor: pointer;
}

form.searchform input[type=text] {
  padding: 1rem;
  font-size: 1.7rem;
  border: 1px solid rgba(128, 128, 128, 0.352);
  float: left;
  width: 100%;
  border-radius: 6rem;
  background: #ffffff9e;
  outline: none;

  color: gray;
}

.search::placeholder {
  padding-left: 5rem;
  color: rgba(128, 128, 128, 0.797);
}

form.searchform button {
  width: 5rem;
  background: rgba(128, 128, 128, 0.226);
  border: none;
  color: white;
  font-size: 17px;
  border-radius: 50%;
  border-left: none;
  cursor: pointer;
  position: absolute;
  margin-bottom: 6.5vh;
}

form.searchform button:hover {
  background: #0b7dda;
}

form.searchform::after {
  content: "";
  clear: both;
  display: table;
}

/* INDEX > SEARCH BUTTONS */

.search-container {
  margin: 7rem auto;
}

/* DROPDOWN */

.dropdown_flex {
  max-width: 100vw;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  margin-bottom: 20px;
}

.dropbtn_city {
  background-color: #CB236D;
  color: white;
  font-weight: bold;
  padding: 10px 40px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropbtn_city:hover {
  background-color: rgb(255, 68, 149);
}

#index_city {
  width: 160px;
}

#index_city::placeholder {
  font-size: 0.8em;
}

.dropbtn_date {
  background-color: #3C6ED8;
  color: white;
  font-weight: bold;
  padding: 10px 36px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropbtn_date:hover {
  background-color: #4981f9;
}

.dropbtn_category {
  background-color: #C3D43C;
  color: white;
  font-weight: bold;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.dropbtn_category:hover {
  background-color: #d6ea3e;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #EFEFEF;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 2em;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

#startdate {
  width: 130px;
  height: 25px;
}

.dropdown-content a:hover {
  background-color: #d6ea3e
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

/*INDEX EVENT IMAGES*/


.event_container {
  margin-bottom: 50px;
}

.event_container2 {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.events-index_each {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 0;
}

.events-index_each img {
  max-width: 48vw;
}

/* EVENT DETAILS */

.fav-share-wanna {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 20px 10px;
}

.eventdetailspage {
  background-color: #efefef;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 100px;
}

.eventdetailspage img {
  width: 100vw;
}

.confirmbutton {
  background-color: #d6ea3e;
  border-color: #d6ea3e;
  border-style: none;
  width: 6em;
  height: 2em;
  color: #000;
  font-weight: bolder;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
}

.topicons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
}

.topicons a {
  color: #A01FCC;
}

.topicons a:hover {
  color: #C3D43C;
}

.eventconfirm button:hover {
  background-color: #fff;
  border: 1px solid #d6ea3e;
  width: 6em;
  height: 2em;
  color: #000;
  font-weight: bolder;
  font-size: 1.5em;
  color: #d6ea3e;
  cursor: pointer;
}

.eventinfoheader h1 {
  font-size: 4em;
  margin-top: 1em;
}

.details_description {
  margin: 10px 5px;
  font-size: 1.2em;
  line-height: 20px;
}

.editdeletebutton {
  background-color: #a6a6a6;
  font-weight: bold;
  border: #a6a6a6;
  width: 8em;
  height: 2em;
  border-radius: 5px;
}

.editdeletebutton a {
  color: #fff;
}

.editdeletebutton:hover {
  background-color: #737373;
  border: 1px solid #737373;
}

.editdeletebutton a:hover {
  color: #fff;
}

.createdby_editdelete {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  margin: 0 5px;
}

.eventinfo hr {
  margin-top: 2em;
  margin-bottom: 2em;
}

.eventicons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  font-size: 3em;
  line-height: 40px;
}

.eventicons p {
  font-size: 0.5em;
  font-family: Arial, Helvetica, sans-serif;
}

.favs-conf_details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.num_conf {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  font-weight: bold;
}

.numeros_details {
  color: #C3D43C;
  font-size: 2em;
}

.eventdescription p {
  font-size: 2em;
  margin-top: 30px;
  width: 50em;
}

.details_h4 {
  font-size: 1.5em;
  padding-left: 10px;
}

.creatorlink {
  margin-top: 10px;
  font-size: 1em;
}

.creatorlink a {
  margin-top: 10px;
  font-size: 1em;
  color: #A01FCC;
}

.eventinfo h2 {
  font-size: 2em;
}

.eventform {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.commentbox {
  font-size: 1.5em;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.342);
  width: 33vw;
}

.user-comment {
  margin-left: 10px;
  width: 33vw;
}

.user-comment a {
  color: #A01FCC;
  font-size: 1.8em;
}

.comment-img-user img {
  border-radius: 50%;
  width: 11vw;
}

.comment-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: stretch;
}

.delete-comment_btn {
  background-color: #CB236D;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  font-size: 1em;
}

.allcomments h2 {
  font-size: 1.8em;
  margin-bottom: 15px;
}

.allcomments button {
  width: 15em;
  font-size: 1em;
}

.create-comment_btn {
  width: 40vw;
  height: 5vh;
  margin-top: 20px;
  font-size: 1em;
}

.username a {
  font-size: 1.5em;
}

/*CREATE EVENT*/

#create-event {
  background-color: #EFEFEF;
  padding-bottom: 50px;
}

.create_title {
  font-family: Arial, Helvetica, sans-serif;
  color: #423839;
  width: 80vw;
}

.create-img {
  max-width: 100vw;
}

.create_title input {
  border-radius: 14px;
}

.create-event_h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.5em;
  color: #423839;
  text-align: center;
  padding-top: 20px;
}

/* PROFILE */

.profile-logo {
  width: 50vw;
  margin-left: 70px;
}

.profilebody {
  background-color: #A01FCC;
  height: 100%;
  padding: 20px;
  margin-bottom: 65px;
}

.profilebody h1 {
  font-size: 2.5em;
  color: #d9ed42;
  margin-left: 20px;
  padding-top: 20px;
}

.profilebody h2 {
  color: #fff;
  font-size: 1.5em;
}

.coisinhacolorida {
  color: #C3D43C;
}

.imgprofile img {
  max-width: 30vw;
  max-height: 30vh;
}

.userinfo {
  background-color: rgba(255, 255, 255, 0.4);
  width: 80vw;
  height: 50vw;
  margin: 20px;
  padding: 20px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
}

.userinfo img {
  border-radius: 50%;
}

.username {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  margin: 20px 0;
}

.username h2 {
  font-size: 2em;
  margin-bottom: 10px;
}

.username p {
  margin-bottom: 10px;
}

.username a {
  font-size: 1em;
  color: #ffffffb5;
}

.infoprofilebox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  align-content: stretch;
}

.confirmedevents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.favouriteevents {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.confirmedevents h3 {
  color: #fff;
  font-size: 1.2em;
}

.confirmedevents a {
  color: #fff;
}

.favouriteevents h3 {
  color: #fff;
  margin-top: 20px;
  font-size: 1.2em;
}

.favouriteevents a {
  color: #fff;
  margin-top: 20px;
}

.favconfevents {
  margin-top: 30px;
}

.favconfevents h3 {
  font-size: 2em;
  color: #fff;
  margin-bottom: 10px;
}

.favconfevets2 {
  margin-top: 20px;
  background-color: rgba(66, 56, 57, 0.5);
  padding: 10px
}

.eventslist {
  margin-right: 8px;
  font-size: 3em;
}

.eventslist a {
  font-size: 0.5em;
}

.squareevents {
  background-color: rgba(66, 56, 57, 0.5);
  padding: 10px
}

.logout-profile {
  background-color: #C3D43C;
  border-radius: 20px;
  padding: 7px 30px;
  margin: 10px 20px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.logout-profile:hover {
  background-color: #d6ea3e;
}

.edit-profile_btn {
  background-color: #CB236D;
  border: none;
  padding: 5px;
}

/* FOOTER MENU */

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100vw;
  background-color: #fff;
  padding: 6px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-top: 4px solid rgba(0, 0, 0, 0.174);
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
}

footer .bi {
  color: #A01FCC;
}

/* SEARCH RESULT PAGE */

#search-page {
  width: 100vw;
  height: 100vh;
  background-color: #A01FCC;
  padding: 20px;
}

.imgsearchresult {
  width: 40vw;
}

.result_h1 {
  font-size: 2em;
  color: #dbef42;
  padding-bottom: 20px;
  padding-top: 20px;
}

.search-result_img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5px 5px;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}


@media screen and (min-width: 992px) {
  .events-index_each img {
    max-width: 30vw;
  }

  .user-comment a {
    color: #A01FCC;
    font-size: 1.8em;
  }

  .comment-img-user img {
    border-radius: 50%;
    width: 5vw;
  }

  .start_welcome {
    font-size: 1.5em;
  }

  .start_img {
    margin-top: 10px;
    width: 25vw;
  }

  .start_logo {
    width: 50vw;
  }

  .start_p {
    margin-bottom: 15px;
    margin-top: 10px;
    margin: none;
  }

  .start_welcome {
    font-size: 3.5em;
  }

  .profile-logo {
    width: 25vw;
  }

  .userinfo {
    width: 45vw;
    height: 20vw;
  }

  .imgprofile img {
    max-width: 10vw;
  }

  .coisinhacolorida {
    visibility: hidden;
  }

  .profilecontainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    margin: none;
  }

  .confirmedevents {
    width: 20vw;
  }

  .profilebody {
    margin-bottom: 0;
  }


}